__pycache__/
.vscode/
ltl2ba
.catkin_tools
data/*
src/__pycache__/

!data/.gitkeep 
hierarchical_ltl.egg-info/
.DS_Store
hierarchical_simulation/build
hierarchical_simulation/logs
hierarchical_simulation/devel
hierarchical_simulation/.catkin_tools

*.mp4
*.pdf